<div class="panel panel-default">
    <div class="panel-heading clean">
      <i class="fa fa-comment-o"></i>  <b>{{title}}</b>
    </div>
    <div class="panel-body">

      <form >
        <div class="rows">
          <div class="col-md-8" align="center">
            ¿Esta seguro de eliminar el movimiento <b>{{Movimientos.movimiento}} </b> con el codigo <b>{{Movimientos.nro_moviento}}</b>?
          </div>
        </div>
        <br><br>
        <div class="rows">
          <div class="col-md-6">
            <a href="#" class="btn btn-danger" ng-click="removeMovimiento(Movimientos.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i>  Eliminar </a>
          </div>
          <div class="col-md-6">
            <a href="index.php/Movimientos" class="btn btn-default"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
          </div>
        </div>
      </form>

      <div id="splineArea-chart" style="height:280px;"></div>
    </div>
</div>
