<div class="panel panel-default">
    <div class="panel-heading clean">
      <h3><i class="fa fa-tty"></i>  <b>{{title}}</b></h3>
    </div>
    <div class="panel-body">

      <form autocomplete="off" class="form-horizontal" role="form" >

        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Proveedor</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Proveedor"    ng-model="Proveedores.proveedor">
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Actividad</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Rubro"        ng-model="Proveedores.rubro">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Tipo de Proveedor</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Entidad"      ng-model="Proveedores.entidad">
          </div>
        </div>-->
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Responsable</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Responsable"  ng-model="Proveedores.responsable">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Ciudad</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Ciudad"       ng-model="Proveedores.ciudad">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Direccion</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Direccion"    ng-model="Proveedores.direccion">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Telefono</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Telefono"     ng-model="Proveedores.telefono">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">NIT</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="NIT"          ng-model="Proveedores.nit">
          </div>
        </div>
        <!--
        <div class="form-group">
          <label for="" class="col-lg-3 control-label">Correo electronico</label>
          <div class="col-lg-7">
            <input type="text" class="form-control"  placeholder="Correo electronico"  ng-model="Proveedores.correo_electronico" autofocus>
          </div>
        </div>-->


        <a href="#/proveedor/" class="btn btn-info"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Atras</a>
      </form>

      <div id="splineArea-chart" style="height:280px;"></div>
    </div>
</div>
