<div class="panel panel-default">
    <div class="panel-heading clean">
      <h3><i class="fa fa-plus"></i>  <b>{{title}}</b></h3>
    </div>
    <div class="panel-body">

      <form autocomplete="off" ng-submit="saveApertura()">
        <div class="form-group col-md-4">
          <label>Codigo de Apertura</label>
          <input type="text" class="form-control"  placeholder="Codigo de Apertura  Ej.31000"  ng-model="Aperturas.codigo" autofocus>          
        </div>
        <div class="form-group col-md-8">
          <label>Apertura Programatica</label>
          <input type="text" class="form-control"  placeholder="Apertura Programatica"   ng-model="Aperturas.apertura">
        </div>
        <div class="rows">
          <div class="col-md-2">
            <button type="submit" name="button" class="{{accion}}">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> {{button}}
            </button>
          </div>
          <div class="col-md-2">
            <a href="#/apertura" class="btn btn-info"> <i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
          </div>
          <div class="col-md-6">
            <div class="{{panel}}" role="alert"> <strong>{{msj}}</strong> </div>
          </div>
        </div>
      </form>

      <div id="splineArea-chart" style="height:280px;"></div>
    </div>
</div>
