<div class="panel panel-default">
    <div class="panel-heading clean">
      <h3><i class="fa fa-{{icono}}"></i>  <b>{{title}}</b></h3>
    </div>
    <div class="panel-body">

      <form autocomplete="off" class="form-horizontal" role="form" ng-submit="saveCambios()">
        <div class="form-group">
          <label for="" class="col-lg-4 control-label">Fecha de cambio</label>
          <div class="col-lg-4">
            <input type="text" class="form-control" ng-model="Cambios.fecha">
          </div>          
        </div>
        <div class="form-group">
          <label for="" class="col-lg-4 control-label">Costo de compra del dolar</label>
          <div class="col-lg-4">
            <input type="text" class="form-control" ng-model="Cambios.compra">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-4 control-label">Costo de venta del dolar</label>
          <div class="col-lg-4">
            <input type="text" class="form-control" ng-model="Cambios.venta">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-4 control-label">Cambio UFV</label>
          <div class="col-lg-4">
            <input type="text" class="form-control" ng-model="Cambios.ufv">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-lg-4 control-label">Carga del Cambio Automatico</label>
          <div class="col-lg-4">
            <input type="text" class="form-control" ng-model="Cambios.automatico">
          </div>
        </div>

        <a href="#/cambio/" class="btn btn-info"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Atras</a>
      </form>

      <div id="splineArea-chart" style="height:280px;"></div>
    </div>
</div>
